<%- include('../includes/user/userHead.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css//user/form.css">

    </head>

    <body>
        <div class="main-top-section">
        <%- include('../includes/user/header.ejs') %>

            <section class="">
                <div class="container">
                    <div class="row">
                      <div class="col-md-6 offset-md-3">
                        <div class="card my-5">
                            <div class="text-center cardbody-color">
                                <h2 class="text-center text-dark mt-3">UPDATE PASSWORD</h2>
                            </div>
                          <form class="card-body cardbody-color p-lg-5" action="/change-password" method="post">
                            <div class="mb-3">
                                <input type="password" id="password" class="form-control" placeholder="Enter current password" name="oldPassword" required />
                            <span style="color: red;">
                                <%=locals.incorrectPassword?incorrectPassword:'' %>
                            </span>
                            </div>
                            <div class="mb-3">
                                <input type="password" id="newPassword" class="form-control" placeholder="Enter new password" name="newPassword" required />
                                <span style="font-size: 12px;">*Must contain an uppercase letter, lowercase
                                    letter, special character and a number. Password should contain minimum
                                    8 characters</span><br>           
                                <small id="password-Error"></small>
                            </div>
                            <div class="mb-3">
                                <input type="text" id="cNewPassword" class="form-control" placeholder="Re-enter new password" name="cNewPassword" required />
                                <small id="cPassword-Error"></small>
                            </div>
                            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100" onclick="return validateForm()">SAVE CHANGES</button></div>
                          </form>
                        </div>
                
                      </div>
                    </div>
                  </div>
            <section>

                <%- include('../includes/user/footerSection.ejs') %>
            </section>

    </body>
    <script src="/validation/change-password.js" type="text/javascript"></script>

    <%- include('../includes/user/userFooter.ejs') %>