<%- include('../includes/user/userHead.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <div class="main-top-section">

        <%- include('../includes/user/header.ejs') %>

            <section class="" style="height: 80vh;">
                <div class="container">
                    <div class="row">
                      <div class="col-md-6 offset-md-3">
                        <div class="card my-5">
                            <div class="text-center cardbody-color">
                                <h2 class="text-center text-dark mt-3">FORGOT PASSWORD</h2>
                            </div>
                          <form class="card-body cardbody-color p-lg-5" action="/forgotPassword" method="post">
                            <div class="mb-3">
                                <label class="form-label" for="otp">Enter your email</label>
                                <input type="email" class="form-control form-control" id="email"
                                    placeholder="Enter your email" name="email" required />
                                    <small class="text-danger"><%=emailNotRegistered?emailNotRegistered:''  %></small>
                            </div>
                            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">SUBMIT</button></div>
                          </form>
                        </div>
                
                      </div>
                    </div>
                  </div>
            </section>
            <%- include('../includes/user/footerSection.ejs') %>
        </div>

    </body>

    <%- include('../includes/user/userFooter.ejs') %>
