<%- include('../includes/user/userHead.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <div class="main-top-section">
        <%- include('../includes/user/header.ejs') %>
            <section class="mb-5" style="min-height: 50vh;">
                <div class="container mt-5">
                    <div class="d-flex justify-content-end mb-3 ">
                        <small style="color: red;">
                            <%=addressLimit?addressLimit:''%>
                        </small>
                        <button id="add-Btn" class="border-0 btn-dark ms-3 p-2"><a href="/add-address?location=profile"
                                class="text-white p-1" id="add-address-btn">ADD NEW
                                ADDRESS</a></button>
                    </div>
                    <% if(userAddress&& userAddress.address &&userAddress.address.length>0){ %>
                        <div class="row">
                            <% userAddress.address.forEach((add)=>{ %>
                                <div class="col-sm-6 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%=add.name %>
                                            </h5>
                                            <span class="card-text">
                                                Mobile: <%=add.mobile %>
                                            </span><br>
                                            <span class="card-text">
                                                <%=add.address%>
                                            </span>,
                                            <span class="card-text">
                                                <%=add.town %>
                                            </span><br>
                                            <span class="card-text">
                                                <%=add.pincode %>
                                            </span>,
                                            <span class="card-text">
                                                <%=add.state %>
                                            </span>

                                            <div class="d-flex">
                                                <a href="/edit-address?id=<%=add._id%>&location=profile"
                                                    class="btn btn-dark">Edit</a>
                                                <div class="ms-3 mt-1">
                                                    <form action="/delete-address/<%=add._id%>" method="post">
                                                        <button class="border-0" type="submit" style="background:none;">
                                                            
                                                            <a href=""> <i class="bi bi-trash3-fill"
                                                                    style="color: red; font-size: 20px;"></i></a></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                        </div>

                        <% }else{ %>
                            <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                                <div>
                                    <h5>no address saved</h5>
                                </div>
                                <div>
                                    <img src="images/about/no address.gif" style="width: 20rem;" class="img-fluid" alt="">
                                </div>
                            </div>
                            <% } %>
                </div>
            </section>
        </div>

                <%- include('../includes/user/footerSection.ejs') %>
            
    </body>

    <%- include('../includes/user/userFooter.ejs') %>