<%- include('../includes/user/userHead.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">


    </head>

    <body>
        <div class="main-top-section">

        <%- include('../includes/user/header.ejs') %>
            <section class="mt-5">
                <div class="container">
                    <h1>Wallet Transaction History</h1>
                    <% if(userData.walletHistory && userData.walletHistory.length>0) {%>
                        <div class="mt-5">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center align-middle" width="100%"
                                    id="sortTable">
                                    <col style="width:10%">
                                    <col style="width:15%">
                                    <col style="width:25%">
                                    <col style="width:20%">
                                    <col style="width:15%">
                                    <col style="width:25%">
                                    <thead>
                                        <tr >
                                            <th scope="col" class="text-center" >#</th>
                                            <th scope="col" class="text-center">Date</th>
                                            <th scope="col" class="text-center">Details</th>
                                            <th scope="col" class="text-center">Type</th>
                                            <th scope="col" class="text-center">Amount</th>
                                            <th scope="col" class="text-center">Current Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% userData.walletHistory.reverse().forEach((data)=>{ %>
                                            <tr>
                                                <th scope="row">
                                                    <%=userData.walletHistory.indexOf(data) +1%>
                                                </th>
                                                <% const dd=data.transactionDate.getDate(); const
                                                    mm=data.transactionDate.getMonth() + 1; const
                                                    yyyy=data.transactionDate.getFullYear(); const
                                                    formattedDate=`${dd}-${mm}-${yyyy}`; %>
                                                    <td>
                                                        <%=formattedDate %>
                                                    </td>
                                                    <td>
                                                        <%=data.transactionDetail %>
                                                    </td>
                                                    <% if(data.transactionType=='Credit' ) {%>
                                                        <td style="color: rgb(4, 147, 4);">
                                                            <%=data.transactionType %>
                                                        </td>

                                                        <% }else{ %>
                                                            <td class="text-danger">
                                                                <%=data.transactionType %>
                                                            </td>
                                                            <% } %>
                                                                <td>
                                                                    <%=data.transactionAmount %>
                                                                </td>
                                                                <td>
                                                                    <%=data.currentBalance %>
                                                                </td>

                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <% }else{ %>
                            <div style="height: 50vh; display: grid;place-content: center;">
                                <p>No wallet transactions</p>
                            </div>
                            <% } %>
                </div>
            </section>
        </div>

            <%- include('../includes/user/footerSection.ejs') %>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $('#sortTable').DataTable({
            searching: false,
            ordering: false
        });
    </script>
    <%- include('../includes/user/userFooter.ejs') %>